html, body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  font-family: "Georgia", Serif;
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
  
}

.parent {
   text-align: center;
   border-style: double;
}

.child {
   display:inline;
}

/*canvas {
  display: block;
}
*/
