html, body {
  margin: 0;
  padding: 0;
  background-color: #080808;
}

h1,, h2, h3, h4 {
  color: white;
  text-align: center;
  
}

#goldenratio {
  text-align: center;
}
#representational {
  text-align: center;
}
#nonrep {
  text-align: center;
}

/*canvas {
  display: block;
}
*/
