html, body {
  margin: 0;
  padding: 0;
  background-color: #080808;
  font-family: "Lucida Handwriting", Cursive;
}

h1, h2, h3, h4 {
  color: white;
  text-align: center;
  
}

#goldenratio {
  text-align: center;
  border-style: double;
}
#representational {
  text-align: center;
  border-style: double;
}
#nonrep {
  text-align: center;
  border-style: double;
}

/*canvas {
  display: block;
}
*/
